/* basic */

body {
    /*background-color: green;*/
}

#map svg {
    border: 1px solid silver;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: black;
}