/* basic */

body {
    /*background-color: green;*/
}

/* * * * * */
/* FIGURE  */
/* * * * * */

#page_title {}

/* * * * * */
/* GROUND  */
/* * * * * */

section#ground {
    
    #map svg {
        border: 1px solid silver;
    }

    .graticule {
      fill: none;
      stroke: #777;
      stroke-width: .5px;
      stroke-opacity: .5;
    }

    .land {
      fill: black;
    }

}