/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
/* line 6, ../sass/typography.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'San Francisco', sans-serif;
  font-size: 1.125em; }

/* Headings
-------------------------------------------------------------- */
/* line 16, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6, th {
  font-family: 'San Francisco', sans-serif; }

/* line 20, ../sass/typography.scss */
h1 {
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 0.5em; }

/* line 21, ../sass/typography.scss */
h2 {
  font-size: 2.0em;
  line-height: 1;
  margin-bottom: 0.75em; }

/* line 22, ../sass/typography.scss */
h3 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 23, ../sass/typography.scss */
h4 {
  font-size: 1.4em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 24, ../sass/typography.scss */
h5 {
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 1.5em; }

/* line 25, ../sass/typography.scss */
h6 {
  font-size: 1em; }

/* Text elements
-------------------------------------------------------------- */
/* line 31, ../sass/typography.scss */
p {
  margin: 0 0 1.5em; }

/* line 34, ../sass/typography.scss */
ul {
  list-style-type: disc; }

/* line 35, ../sass/typography.scss */
ol {
  list-style-type: decimal; }

/* line 37, ../sass/typography.scss */
dl {
  margin: 0 0 1.5em 0; }

/* line 38, ../sass/typography.scss */
dl dt {
  font-weight: bold; }

/* line 39, ../sass/typography.scss */
dl dd {
  margin-left: .25em; }

/* line 41, ../sass/typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #000; }

/* line 42, ../sass/typography.scss */
address {
  margin-top: 1.5em;
  font-style: italic; }

/* line 43, ../sass/typography.scss */
del {
  color: #000; }

/* line 45, ../sass/typography.scss */
a {
  color: #00a;
  text-decoration: none; }

/* line 46, ../sass/typography.scss */
a:hover, a:active {
  text-decoration: underline; }

/* line 48, ../sass/typography.scss */
blockquote {
  margin: 1.5em; }

/* line 49, ../sass/typography.scss */
strong {
  font-weight: bold; }

/* line 50, ../sass/typography.scss */
em, dfn {
  font-style: italic; }

/* line 51, ../sass/typography.scss */
dfn {
  font-weight: bold; }

/* line 52, ../sass/typography.scss */
pre, code {
  margin: 1.5em 0;
  white-space: pre; }

/* line 53, ../sass/typography.scss */
pre, code, tt {
  font: 1em monospace;
  line-height: 1.5; }

/* line 54, ../sass/typography.scss */
tt {
  display: block;
  margin: 1.5em 0;
  line-height: 1.5; }

/* Tables
-------------------------------------------------------------- */
/* line 60, ../sass/typography.scss */
table {
  margin-bottom: 1.5em; }

/* line 61, ../sass/typography.scss */
th {
  border-bottom: 2px solid #ddd;
  font-weight: bold; }

/* line 62, ../sass/typography.scss */
td {
  border-bottom: 1px solid #ddd; }

/* line 63, ../sass/typography.scss */
th, td {
  padding: 4px 10px 4px 0; }

/* line 64, ../sass/typography.scss */
tfoot {
  font-style: italic; }

/* line 65, ../sass/typography.scss */
caption {
  background: #ffc; }

/* Some default classes
-------------------------------------------------------------- */
/* line 71, ../sass/typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

/* line 72, ../sass/typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

/* line 73, ../sass/typography.scss */
.quiet {
  color: #999; }

/* line 75, ../sass/typography.scss */
.hide {
  display: none; }

/* line 76, ../sass/typography.scss */
.highlight {
  background: #ffc; }

/* line 78, ../sass/typography.scss */
.top {
  margin-top: 0;
  padding-top: 0; }

/* line 79, ../sass/typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }
