{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>Arcfire{% if window_title %} | {{ window_title | title }}{% endif %}</title>

    <!-- Presentation Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    
    {% block js %}
        <script src="{% static 'arcfire/js/base.js' %}"></script>
    {% endblock js %}

    {% block css %}
        {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'arcfire/css/base.scss' %}" />
        {% endcompress %}

        <link rel='stylesheet' type='text/css'  href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' />
        <link rel='stylesheet' type='text/css'  href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' />
    {% endblock css %}

</head>
<body>
    <main>
    {% block main %}
        <div id="figure">
        {% block figure %}
            <h1 id="page_title">Figure</h1>
        {% endblock figure %}
        </div>

        <div id="ground">
        {% block ground %}
            <h2 class="sr_only">Ground</h2>
        {% endblock ground %}
        </div>
    {% endblock main %}
    </main>

    <nav>
    {% block nav %}
        <div></div>
        <div id="nav_container">
            <h3>Navigation</h3>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <p class="lead">asdfasdfsdf</p>
                {% for m in nav_models %}
                <li><a href="{% url m.url_name %}">{{ m.name_plural | title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endblock nav %}
    </nav>
</body>
</html>