{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Arcfire{% if window_title %} | {{ window_title | title }}{% endif %}</title>

    <!-- Presentation Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    
    {% block js %}
        <script src="{% static 'arcfire/js/base.js' %}"></script>
    {% endblock js %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/bower_components/normalize-css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/typography.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/base.css' %}" />


        <link rel='stylesheet' type='text/css'  href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' />
        <link rel='stylesheet' type='text/css'  href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' />
    {% endblock css %}

</head>
<body>
    <main>
    {% block main %}

        <h1 id="page_title">{{ page_title }}</h1>

        <div id="messages">
        {% block messages %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endblock messages %}
        </div>

        <div id="figure">
        {% block figure %}
            <h2 class="sr_only">Figure</h1>
        {% endblock figure %}
        </div>

        <div id="ground">
        {% block ground %}
            <h2 class="sr_only">Ground</h2>
        {% endblock ground %}
        </div>
    {% endblock main %}
    </main>

    <nav>
    {% block nav %}
        <h3>Navigation</h3>
        <div id="nav_container">

            {% if parent_pages %}
            <h4>Relative</h4>
            <ul>
                {% for p in parent_pages %}
                <li><a href="{% url p.0 %}">{{ p.1 }}</a></li>
                {% endfor %}
                <li>{{ page_title }}</li>
            </ul>
            {% endif %}

            <h4>Absolute</h4>
            <ul>
                {% for m in nav_models %}
                <li><a href="{% url m.url_name %}">{{ m.name_plural | title }}</a></li>
                {% endfor %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>

        </div>
    {% endblock nav %}
    </nav>
</body>
</html>