{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Arcfire{% if view.window_title %} | {{ view.window_title | title }}{% endif %}</title>

    <!-- Presentation Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    
    {% block js %}
        <script src="{% static 'arcfire/js/base.js' %}"></script>
    {% endblock js %}

    {% block css %}

        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/screen.css' %}" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/print.css' %}" media="print" />
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="{% static 'arcfire/css/ie.css' %}" media="screen, projection" />
        <![endif]-->

    {% endblock css %}

</head>
<body>
    <header>
    {% block header %}
        <h2 id="site_title"><a href="{% url 'home' %}">Arcfire</a></h2>
        
        <div id="site_search">
        {% block site_search %}
            <form id="site_search_form" action="{% url 'search' %}" method="get">
                <label for="site_search_input">Site Search</label>
                <input id="site_search_input" type="search" name="q" placeholder="Terms">
                <input type="submit" value="Submit" />
            </form>
        {% endblock site_search %}
        </div>
    {% endblock header %}
    </header>

    <main>
    {% block main %}
        <h1 id="page_title">{{ view.page_title }}</h1>

        {% if messages %}
        <div id="messages">
        {% block messages %}
            <h3 class="section_title" class="sr_only">Messages</h3>
            <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endblock messages %}
        </div><!-- / #messages -->
        {% endif %}

        <section id="content">
        {% block content %}
            <p>The main content of this page.</p>
        {% endblock content %}
        </section><!-- / #content -->
    {% endblock main %}
    </main>

    <nav>
    {% block nav %}
        <h3>Navigation</h3>

        {% if view.nav_relative %}
        <div id="nav_relative">
        {% block nav_relative %}
            <h4>Relative</h4>
            <ul>
                {% for item in view.nav_relative %}
                <li>
                    {% if item.url %}<a href="{{ item.url }}">{% endif %}
                    {{ item.name }}
                    {% if item.url %}</a>{% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endblock nav_relative %}
        </div><!-- / #nav_relative -->
        {% endif %}

        <div id="nav_absolute">
        {% block nav_absolute %}
            <h4>Absolute</h4>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <br>
                {% for model in nav_models %}
                <li><a href="{% url model.url_name %}">{{ model.name_plural | title }}</a></li>
                {% endfor %}
            </ul>
        {% endblock nav_absolute %}
        </div><!-- / #nav_absolute -->

    {% endblock nav %}
    </nav>

    <footer>
        <div id="user">
        {% block user %}
            <h3>User</h3>
            <ul>
                {% if user.is_authenticated %}
                    <li>Profile</li> <!-- TODO -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        {% endblock user %}
        </div><!-- / #nav_user -->
    </footer>
</body>
</html>