{% extends 'arcfire/base.html' %}

{% block main %}
<h1>Welcome to Arcfire.</h1>

<p><em>Arcfire</em> is the working title for a new project of mine; a kind of world builder for creating nonlinear narrative, paired with a particular setting and cast of characters.</p>

<p>The setting will (probably) be in the Arctic, sometime around 50K years in the future, when the ice caps have melted and humanity has dwindled. Kevin Costner will not be involved.</p>

<p>I look forward to hammering out further details. Stay tuned!</p>

<h3>Useful Links</h3>
<ul>
    <li><a href="https://github.com/allanberry/arcfire">Arcfire Project page</a></li>
    <li><a href="https://github.com/allanberry/arcfire/wiki">Arcfire Wiki</a></li>
</ul>

{% endblock main %}