{% extends 'arcfire/model_list.html' %}
{% load staticfiles %}
{% load compress %}


{% block js_libs %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
{% endblock js_libs %}

{% block page_content %}

<div id="map" ></div>


{% if object_list %}
<ul>
{% for obj in object_list %}
  <li>{{ obj }}</li>
{% endfor %}
</ul>
{% else %}
<p>No {{ model_name_plural }} found.</p>
{% endif %}

{% compress js %}
    <script src="{% static 'arcfire/globe.js' %}"></script>
{% endcompress %}

{% endblock page_content %}
