{% extends 'arcfire/base.html' %}

{% block content %}
<p>A List of {{ model_name_plural | title }}.</p>

{% if object_list %}
<ul>
{% for obj in object_list %}
  <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No {{ model_name_plural }} found.</p>
{% endif %}
{% endblock content %}


{% block nav_relative %}
<h4>Relative</h4>
<ul>
    <!-- Up -->
    {% for p in parent_pages %}
    <li><a href="{% url p.0 %}">{{ p.1 }}</a></li>
    {% endfor %}

    <!-- Previous -->
    {% if previous %}
    <li>Previous: <a>Previous</a></li>
    {% endif %}

    <!-- Current -->
    <li>This: {{ page_title }}</li>

    <!-- Next -->
    {% if next %}
    <li>Next: <a>Next</a></li>
    {% endif %}
</ul>
{% endblock nav_relative %}